<!DOCTYPE html>
<html>
<head th:replace="~{base :: head}"></head>
<body>
	<div class="dd-flex flex-column bd-highlight mb-2">
		<div th:replace="~{base :: menu}"></div>
		<div class="d-flex justify-content-center mt-1">
			<div class="mt-4 p-3 rounded border border 1" id="clienteTable">
				<div class="d-flex justify-content-between">
					<div class="p-2 bd-highlight">
						<h1>Clientes</h1>
					</div>
					<div class="ms-auto p-2 bd-highlight"
						sec:authorize="hasRole('ROLE_ADMIN')">
						<div class="ml-auto p-2 bd-highlight">
							<a href="/cliente/form"><button
									class="btn btn-outline-secondary btn-sm">
									<i class="fa fa-plus-circle" aria-hidden="true"></i> Adcionar
									Cliente
								</button></a>
						</div>
					</div>
				</div>
				<input class="form-control" id="myInput" type="text"
					placeholder="Filtrar produto"> <br>
				<div class="table-responsive">
					<table>
						<thead class="thead-dark">
							<tr>
								<th scope="col">Cod. Cliente</th>
								<th scope="col">Nome</th>
								<th scope="col">Razão Social/Sobrenome</th>
								<th scope="col">Tel/Cel</th>
								<th scope="col" sec:authorize="hasRole('ROLE_ADMIN')">Ações</th>
							</tr>
						</thead>
						<tbody th:each="cliente, iStat : ${clientePage.content}"
							id="tabelaCliente" th:style="${iStat.odd}? 'font-weight: bold;'"
							th:alt-title="${iStat.even}? 'even' : 'odd'">
							<tr>
								<td th:text="${cliente.id}"></td>
								<td th:text="${cliente.nome}"></td>
								<td th:if="${cliente.tipoCliente}"
									th:text="${cliente.razaoSocial}"></td>
								<td th:unless="${cliente.tipoCliente}"
									th:text="${cliente.sobreNome}"></td>
								<td
									th:text="${cliente.isTelefone} != null  ? ${cliente.telefone}: ${cliente.celular}"></td>

								<td class="buttons" sec:authorize="hasRole('ROLE_ADMIN')"><a
									th:href="@{cliente/form/{id}(id=${cliente.id})}"
									th:method="get"><svg xmlns="http://www.w3.org/2000/svg"
											width="16" height="16" fill="currentColor"
											class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path
												d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                        </svg></a> <a
									th:href="@{cliente/delete/{id}(id=${cliente.id})}"
									th:method="get"><svg xmlns="http://www.w3.org/2000/svg"
											width="16" height="16" fill="currentColor"
											class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path
												d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                        </svg></a></td>
							</tr>
						</tbody>
					</table>
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							<li class="page-item"><a class="page-link"
								th:href="@{/cliente(size=${clientePage.size }, page=${currentPage == 1? currentPage: currentPage - 1})}"
								aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
							</a></li>

							<li class="page-item" th:if="${clientePage.totalPages > 0}"
								th:each="pageNumber : ${pageNumbers}"><a
								th:href="@{/cliente(size=${clientePage.size}, page=${pageNumber})}"
								th:text=${pageNumber} class="page-link"></a></li>

							<li class="page-item"><a class="page-link"
								th:href="@{/cliente(size=${clientePage.size }, page=${currentPage == totalPages? currentPage: currentPage + 1})}"
								aria-label="Next"> <span aria-hidden="true">&raquo;</span>
							</a></li>

						</ul>

					</nav>
				</div>
			</div>
		</div>


	</div>
	</div>
	<script>
		$(document).ready(function(){
		  $("#myInput").on("keyup", function() {
		    var value = $(this).val().toLowerCase();
		    $("#tabelaCliente tr").filter(function() {
		      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		    });
		  });
		});
	</script>
</body>
</html>