<!DOCTYPE html>
<html>
<head th:replace="~{base :: head}"></head>
<body>
	<div class="container" style="width: 50rem;">
		<div class="card mt-3">
			<form th:object="${ordemServicoDto}" action="/ordem-servico/cadastro"
				method="post">
				<div class="form-group px-2" th:if="*{id} != null">
					<label for="id">Cod. Ordem de Serviço:</label> <input
						th:field="*{id}" class="form-control" readonly
						th:value="${readonly}" />
				</div>
				<div class="form-group px-2">
					<label for="cliente">Cliente:</label> <input name="cliente"
						th:field="*{cliente}" list="clientes">
					<datalist id="clientes">
						<select>
							<option th:each="cliente: ${clientes}" th:value="${cliente.nome}"></option>
						</select>
					</datalist>
					<div class="invalid-feedback" th:errors="*{cliente}">Erros de
						Cliente</div>
				</div>
				<div class="form-group px-2">
					<label for="responsavel">Técnico / Responsável*:</label> <input
						name="responsavel" th:field="*{responsavel}" list="usuarios">
					<datalist id="usuarios">
						<select>
							<option th:each="responsavel: ${usuarios}"
								th:value="${responsavel.nome}"></option>
						</select>
					</datalist>
				</div>

				<!--  <div class="form-group px-2">
					<label for="responsavel">Técnico / Responsável*:</label> <input
						th:field="*{responsavel}" th:errorClass="is-invalid"
						class="form-control" placeholder="Nome do responsavel" />
					<div class="invalid-feedback" th:errors="*{responsavel}">Erros
						de responsavel</div>
				</div> -->

				<div class="form-group px-2">
					<label for="status">Status:</label> <select name="status">
						<option
							th:each="unid: ${T(com.solutions.vert.model.StatusOrdem).values()}"
							th:values="${unid}" th:text="${unid}"></option>
					</select>
				</div>

				<div class="form-group px-2">
					<label for="dataInicio">Data Inicio:</label> <input type="date"
						th:field="*{dataInicio}" id="dataInicio" />
				</div>

				<div class="form-group px-2">
					<label for="descricao">Descricão Produto/Serviço:</label>
					<textarea th:field="*{descricao}" th:errorClass="is-invalid"
						class="form-control" placeholder="descricao do Produto" rows="2"
						maxlength="250"></textarea>
					<div class="invalid-feedback" th:errors="*{descricao}">Erros
						na descricao do produto/serviço</div>
				</div>

				<div class="form-group px-2">
					<label for="defeito">Defeito:</label>
					<textarea th:field="*{defeito}" th:errorClass="is-invalid"
						class="form-control" placeholder="descrever o defeito" rows="2"
						maxlength="250"></textarea>
					<div class="invalid-feedback" th:errors="*{defeito}">Erros no
						campo defeito.</div>
				</div>

				<div class="form-group px-2">
					<label for="observacao">Observacao:</label>
					<textarea th:field="*{observacao}" th:errorClass="is-invalid"
						class="form-control" placeholder="observacao" rows="2"
						maxlength="250"></textarea>
					<div class="invalid-feedback" th:errors="*{observacao}">Erros
						no campo observacao.</div>
				</div>

				<div class="form-group px-2">
					<label for="laudo">Laudo:</label>
					<textarea th:field="*{laudo}" th:errorClass="is-invalid"
						class="form-control" placeholder="laudo" rows="2" maxlength="250"></textarea>
					<div class="invalid-feedback" th:errors="*{laudo}">Erros no
						campo laudo.</div>
				</div>

				<div class="form-group px-2">
					<label for="garantia">Garantia (dias):</label> <input
						th:field="*{diasGarantia}" th:errorClass="is-invalid"
						class="form-control" placeholder="Quantidade de Produto"
						type="number" min="0" />
					<div class="invalid-feedback" th:errors="*{diasGarantia}">Erros
						no campo garantia</div>
				</div>

				<div class="d-flex justify-content-center mb-1"
					th:if="*{id} == null">
					<button class="btn btn-outline-secondary btn-sm" type="submit">Cadastrar</button>
				</div>
				<div class="d-flex justify-content-center mb-1"
					th:if="*{id} != null">
					<button class="btn btn-outline-secondary btn-sm" type="submit">Atualizar</button>
				</div>
			</form>
			<div class="d-flex justify-content-center mb-1">
				<a href="/ordem-servico"><button
						class="btn btn-outline-secondary btn-sm">Voltar</button></a>
			</div>
		</div>
	</div>
</body>
</html>