<head th:fragment="head">
<meta charset="UTF-8">
<title>Solutions Vert</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
	integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	crossorigin="anonymous"></script>
<link
	href="https://fonts.googleapis.com/css?family=Handlee&display=swap"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link
	href="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.css"
	rel="stylesheet">

<script
	src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.js"></script>
<script
	src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/0.9.0/jquery.mask.min.js"
	integrity="sha512-oJCa6FS2+zO3EitUSj+xeiEN9UTr+AjqlBZO58OPadb2RfqwxHpjTU8ckIC8F4nKvom7iru2s8Jwdo+Z8zm0Vg=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>

<div th:fragment="menu" id="menu"
	class="border border-secondary d-flex bd-highlight mb-3 ">
	<div class="p-2 flex-fill bd-highlight">
		<a D:\App_OrdemServiço\SolutionsVert> <img id="logo"
			th:src="@{/images/logo.png}" alt="Bootstrap" width="30" height="30">
		</a>
	</div>
	<nav
		class="nav nav-pills flex-column flex-sm-row p-2 flex-fill bd-highlight">
		<a id="home" class="nav-link" th:href="@{/home}" style="color: black;">Home</a>
		<a class="nav-link" th:href="@{/produto}" style="color: black;">Produto</a>
		<a class="nav-link" th:href="@{/cliente}" style="color: black;">Cliente</a>
		<a class="nav-link" th:href="@{/ordem-servico}" style="color: black;">Ordem Serviço</a>
		<a class="nav-link" th:href="@{/servico}" style="color: black;">Serviços</a> <a
			onclick="document.querySelector('#form-login').submit()"
			class="nav-link" style="color: black;"
			sec:authorize="isAuthenticated()" href="#">Sair</a>
		<form id="form-login" th:action="@{/logout}" method="post"></form>
	</nav>
	<di class="mt-3 mb-3 mr-4"> <span sec:authentication="name"></span>
	</di>
</div>