<!DOCTYPE html>
<html>
<head th:replace="~{base :: head}"></head>
<body>
	<div class="container" style="width: 50rem;">
		<div class="card mt-3">
			<form th:object="${produtoDto}" action="/produto/cadastro"
				method="post">
				<div class="form-group px-2" th:if="*{id} != null">
					<label for="id">Cod. Produto:</label> <input th:field="*{id}"
						class="form-control" readonly th:value="${readonly}"/>
				</div>
				<div class="form-group px-2">
					<label for="nome">Nome:</label> <input th:field="*{nome}"
						th:errorClass="is-invalid" class="form-control"
						placeholder="Nome do Produto" />
					<div class="invalid-feedback" th:errors="*{nome}">Erros do
						nome do produto</div>
				</div>
				<div class="form-group px-2">
					<label for="descricao">Descricão:</label>
					<textarea th:field="*{descricao}" th:errorClass="is-invalid"
						class="form-control" placeholder="descricao do Produto" rows="2" maxlength="250"></textarea>
					<div class="invalid-feedback" th:errors="*{descricao}">Erros
						na descricao do produto</div>
				</div>
				<div class="form-group px-2">
					<label for="estoque">Quantidade:</label> <input th:field="*{estoque}"
						th:errorClass="is-invalid" class="form-control"
						placeholder="Quantidade de Produto" type="number" min="0"/>
					<div class="invalid-feedback" th:errors="*{estoque}">Erros na
						quantidade de produto</div>
				</div>
				<div class="form-group px-2">
					<label for="preco">Preço:</label> <input th:field="*{preco}"
						th:errorClass="is-invalid" class="form-control"
						placeholder="Preço do Produto" type="number" min="1" step="any" />
					<div class="invalid-feedback" th:errors="*{preco}">Erros do
						preço do produto</div>
				</div>
				<div class="form-group px-2">
					<label for="precoCompra">Preço de compra:</label> <input th:field="*{precoCompra}"
						th:errorClass="is-invalid" class="form-control"
						placeholder="Preço de compra do Produto" type="number" min="1" step="any" />
					<div class="invalid-feedback" th:errors="*{precoCompra}">Erros do
						preço de compra do produto</div>
				</div>
				<div class="form-group px-2">
					<label for="unidade">Unidade de Medida:</label> 
					<select name="unidade">
						<option th:each="unid: ${T(com.solutions.vert.model.Unidade).values()}" 
						th:values="${unid}" th:text="${unid}"></option>
					</select>
				</div>
				<div class="d-flex justify-content-center mb-1" th:if="*{id} == null">
					<button class="btn btn-outline-secondary btn-sm" type="submit">Cadastrar</button>
				</div>
				<div class="d-flex justify-content-center mb-1" th:if="*{id} != null">
					<button class="btn btn-outline-secondary btn-sm" type="submit">Atualizar</button>
				</div>
			</form>
			<div class="d-flex justify-content-center mb-1">
				<a href="/produto"><button
						class="btn btn-outline-secondary btn-sm">Voltar</button></a>
			</div>
		</div>
	</div>
</body>
</html>