@import
	url('https://fonts.googleapis.com/css2?family=Cinzel&family=Righteous&display=swap')
	;

div {
	font-family: 'Cinzel', serif;
}

#logo:hover {
	-webkit-transform: rotateZ(-1000deg);
	-ms-transform: rotateZ(-1000deg);
	transform: rotateZ(-1000deg);
	box-shadow: 1px 1px #c0c0c0, 2px 2px #c0c0c0, 3px 3px #c0c0c0;
	border-radius: 50%;
}

nav>a:hover {
	opacity: 0.5;
	box-shadow: 1px 1px #c0c0c0, 2px 2px #c0c0c0, 3px 3px #c0c0c0;
	-webkit-transform: translateX(-3px);
	transform: translateX(-3px);
}

table {
	width: 100%;
	border-collapse: collapse;
}

tr:nth-of-type(odd) {
	background: #eee;
}

th {
	background: #333;
	color: white;
	font-weight: bold;
}

td, th {
	padding: 6px;
	border: 1px solid #ccc;
	text-align: left;
}

.nav {
	height: 30px;
	width: 100%;
	position: relative;
}

#produtoTable {
	margin: 10px;
}

#produtoTable {
	width: 100%;
	display: inline-block;
}

#clienteTable {
	margin: 10px;
}

#clienteTable {
	width: 100%;
	display: inline-block;
}

#servicoTable {
	margin: 10px;
}

#servicoTable {
	width: 100%;
	display: inline-block;
}

#ordemTable {
	margin: 10px;
}

#ordemTable {
	width: 100%;
	display: inline-block;
}

@media screen and (max-width: 250px) {
	#produtoTable {
		width: 25%
	}
	#clienteTable {
		width: 25%
	}
	#servicoTable {
		width: 25%
	}
}

.nav>.nav-header {
	display: inline;
}

.nav>.nav-header>.nav-title {
	display: inline-block;
	font-size: 22px;
	color: #fff;
	padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
	display: none;
}

.nav>.nav-links {
	display: inline;
	float: right;
	font-size: 18px;
}

.nav>.nav-links>a {
	display: inline-block;
	padding: 13px 10px 13px 10px;
	text-decoration: none;
	color: #efefef;
}

.nav>.nav-links>a:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
	display: none;
}

@media ( max-width :600px) {
	.nav>.nav-btn {
		display: inline-block;
		position: absolute;
		right: 0px;
		top: 0px;
	}
	.nav>.nav-btn>label {
		display: inline-block;
		width: 50px;
		height: 50px;
		padding: 13px;
	}
	.nav>.nav-btn>label:hover, .nav  #nav-check:checked ~ .nav-btn>label {
		background-color: rgba(0, 0, 0, 0.3);
	}
	.nav>.nav-btn>label>span {
		display: block;
		width: 25px;
		height: 10px;
		border-top: 2px solid #eee;
	}
	.nav>.nav-links {
		position: absolute;
		display: block;
		width: 100%;
		background-color: #333;
		height: 0px;
		transition: all 0.3s ease-in;
		overflow-y: hidden;
		top: 50px;
		left: 0px;
	}
	.nav>.nav-links>a {
		display: block;
		width: 100%;
	}
	.nav>#nav-check:not(:checked) ~ .nav-links {
		height: 0px;
	}
	.nav>#nav-check:checked ~ .nav-links {
		height: calc(100vh - 50px);
		overflow-y: auto;
	}
}